#signup {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C5C6B;
    height: 100vh;
    #box{
        z-index: 0;
        width: 20em;
        height: 28em;
        position: relative;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em #36434e;
        margin: 50px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        background-color: #FDF2DE;
    }
}

.signupform{
    margin: 50px;            
    position: relative;
    display:flex; 
    flex-direction: column; 
    justify-content:center; 
    align-items:center;
    #signup-title{
        text-align: center;
        font-size: 2em;
    }
    .username, .email, .password, .confirmpassword{
        display: block;
        margin: .5em;
        height:2.5em;
    }
}

.buttons{
    margin-bottom: 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .signup, .login{
        margin: .5em;
        
    }
}
