nav{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--contrast-color);
    height: 6rem;
    justify-content: right;
    filter: drop-shadow(0  1.5rem .5rem rgba(0, 0, 0, .5));
    transition: .5s;
    &:hover{
        filter: drop-shadow(0  1.5rem 1rem rgba(0, 0, 0, .5));
    }
    >div.buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        margin-right: 3rem;
        align-self: center;
        >div.signing{
            display: flex;
            gap: .5rem;
            flex-direction: row;
            align-items: center;
        }
        >div.forgotpass{
            display: flex;
        }
    }
}
.banner{
    top: 6rem;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 1rem;
    background-color: var(--orange-dark);
}

