nav{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--contrast-color);
    height: 6rem;
    justify-content: right;
    >div.buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        margin-right: 3rem;
        align-self: center;
        >div.signing{
            display: flex;
            gap: .5rem;
            flex-direction: row;
            align-items: center;
        }
        >div.forgotpass{
            display: flex;
        }
    }
}
.banner{
    top: 6rem;
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 1rem;
    background-color: orange;
    filter: drop-shadow(0 .3rem .5rem black);
}
