#home{
    width:100vh;
    height:100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/background.svg');
    background-size: cover;
    background-position: 0 0;
    animation: slideBg 10s linear infinite;
}

.title.main{
    top: 4vh;
    z-index: 3;
    position: absolute;
    font-size: 100pt;
    left: 3vw;
    color: var(--contrast-color);
    content:attr(title);
    display:block;
}

.title.back2{
    top: 4vh;
    z-index: 2;
    position: absolute;
    font-size: 100pt;
    left: 3vw;
    display:block;
    color:var(--orange);
}

.title.back1{  
    top: 4vh;
    z-index: 1;
    position: absolute;
    font-size: 100pt;
    left: 3vw;
    display:block;
    color:var(--orange-dark);
}



@keyframes slideBg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100vw 0;
    }
  }
